/*  ----------------------------------------------------------------------------
    responsive settings
*/
/* responsive landscape tablet */
/* responsive portrait tablet */
/* responsive portrait phone */
.mx_image_background {
  background-color: #f2f2f2;
}
.td-visibility-hidden {
  visibility: hidden;
}
/*  ----------------------------------------------------------------------------
    from bootstrap
*/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: '';
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*
usage:
.td-block-row {
  .mx-row(td-block-span);
}

@all_span_selector - is the begining of the span selector
 */
/*
Say what demo
*/
.td-viral .td-header-style-pr-8 .td-header-main-menu {
  width: 100%;
}
.td-viral .td-header-style-pr-8 .td-header-sp-logo,
.td-viral .td-header-style-pr-8 .td-header-menu-wrap.td-affix .td-main-menu-logo {
  margin-left: 32px;
}
.td-viral .td-header-style-pr-8 .td-header-menu-search {
  /* desktop only */
  /* responsive portrait tablet */
}
@media (min-width: 1018px) {
  .td-viral .td-header-style-pr-8 .td-header-menu-search {
    margin-right: 22px;
  }
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-viral .td-header-style-pr-8 .td-header-menu-search {
    margin-right: 4px;
  }
}
.td-viral .td-header-style-pr-8 .td_mega_menu_sub_cats a {
  padding-left: 0;
}
.td-viral .td-main-content .block-title:after {
  display: none;
}
.td-viral .td-main-content .block-title span {
  background-color: #42bdcd;
  margin: 0;
  padding: 8px 10px;
  color: #fff;
}
.td-viral .td-post-category-wrap {
  bottom: 0;
}
.td-viral .td-post-category {
  padding: 5px 10px;
}
.td-viral .td_ajax_load_more {
  padding: 15px 28px;
  -webkit-box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0px 0px 0px 3px rgba(0, 0, 0, 0.08);
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.td-viral .td_ajax_load_more:hover {
  -webkit-box-shadow: inset 0px 0px 0px 3px #42bdcd;
  -moz-box-shadow: inset 0px 0px 0px 3px #42bdcd;
  box-shadow: inset 0px 0px 0px 3px #42bdcd;
}
.td-viral .td_ajax_load_more i {
  display: none;
}
.td-viral .td-ss-main-sidebar .block-title,
.td-viral .td-footer-wrapper .block-title {
  text-align: center;
  width: 100%;
}
.td-viral .td-ss-main-sidebar .block-title:after,
.td-viral .td-footer-wrapper .block-title:after {
  right: 0;
  margin: 0 auto;
}
.td-viral .widget_categories li span {
  padding-left: 10px;
  padding-right: 10px;
}
.td-viral .td-post-template-rd-2 .td-post-header .entry-title {
  margin-bottom: 14px;
  padding-bottom: 13px;
  font-size: 48px;
  line-height: 46px;
  font-weight: bold;
  text-transform: uppercase;
  /* phone + tablet */
}
@media (max-width: 1018px) {
  .td-viral .td-post-template-rd-2 .td-post-header .entry-title {
    margin-bottom: 8px;
    padding-bottom: 7px;
    font-size: 32px;
    line-height: 36px;
  }
}
.td-viral .td_block_related_posts .entry-title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  font-weight: bold;
}
.td-viral .post .author-box-wrap .td-author-name a {
  text-transform: uppercase;
  font-size: 20px;
}
.td-viral.td_category_template_rd_8 .td-category-header .entry-category a {
  padding: 5px 10px;
  font-size: 12px;
}
.td-viral .td_module_1 .entry-title {
  padding-bottom: 14px;
  /* responsive portrait phone */
}
@media (max-width: 767px) {
  .td-viral .td_module_1 .entry-title {
    padding-bottom: 11px;
  }
}
.td-viral .td_module_5 .entry-title,
.td-viral .td_module_rd_6 .entry-title,
.td-viral .td_module_rd_12 .entry-title {
  font-weight: bold;
  text-transform: uppercase;
}
.td-viral .td_module_5 {
  /* tablet + desktop */
}
.td-viral .td_module_5 .td-post-category {
  margin-bottom: 13px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-viral .td_module_5 .td-post-category {
    margin-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .td-viral .td_module_5 .td-post-category {
    margin-bottom: 12px;
  }
}
.td-viral .td_module_5 .entry-title {
  padding-bottom: 13px;
  font-size: 30px;
  line-height: 30px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-viral .td_module_5 .entry-title {
    padding-bottom: 14px;
    font-size: 26px !important;
    line-height: 1 !important;
  }
}
@media (max-width: 767px) {
  .td-viral .td_module_5 .entry-title {
    padding-bottom: 12px;
    font-size: 22px !important;
    line-height: 1 !important;
  }
}
@media (min-width: 767px) {
  .td-viral .td_module_5 .td-excerpt {
    font-size: 18px;
    line-height: 20px;
  }
}
.td-viral .td_module_rd_6 {
  /* tablet + desktop */
}
.td-viral .td_module_rd_6 .entry-title {
  margin-bottom: 18px;
  padding-bottom: 11px;
  font-size: 50px;
  line-height: 50px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-viral .td_module_rd_6 .entry-title {
    margin-bottom: 12px;
    padding-bottom: 12px;
    font-size: 38px;
    line-height: 1;
  }
}
@media (max-width: 767px) {
  .td-viral .td_module_rd_6 .entry-title {
    margin-bottom: 10px;
    padding-bottom: 8px;
    font-size: 30px;
    line-height: 1;
  }
}
.td-viral .td_module_rd_6 .td-module-meta-info {
  display: none;
}
@media (min-width: 767px) {
  .td-viral .td_module_rd_6 .td-excerpt {
    font-size: 22px;
    line-height: 26px;
  }
}
.td-viral .td_module_rd_12 .entry-title {
  padding-bottom: 14px;
  font-size: 26px;
  line-height: 26px;
}
.td-viral .td_module_mx_rd_bg_4 .entry-title {
  font-size: 42px;
  line-height: 42px;
  /* responsive portrait tablet */
  /* responsive portrait phone */
}
@media (min-width: 768px) and (max-width: 1018px) {
  .td-viral .td_module_mx_rd_bg_4 .entry-title {
    font-size: 28px !important;
    line-height: 1 !important;
  }
}
@media (max-width: 767px) {
  .td-viral .td_module_mx_rd_bg_4 .entry-title {
    font-size: 22px !important;
    line-height: 1.3 !important;
  }
}
.td-viral .td-excerpt {
  font-style: normal;
}
