/* General */
.td-footer-outer-wrapper {
  background-color: #000;
  text-align: center;
  color: #fff;
}

.footer-social-wrap:after,
.td-subfooter-menu:after {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
  height: 1px;
  background-color: #fff;
  .opacity(0.11);
}

/* Social media */
.footer-social-wrap {
  position: relative;
  padding: 27px 0 26px 0;

  .td-social-icon-wrap {
    margin-right: 53px;

    &:last-of-type {
      margin-right: 0;
    }

    & > a {
      display: inline-block;
      color: #fff;
    }
  }

  .td-icon-font  {
    margin-right: 6px;
  }

  .td-social-name {
    vertical-align: top;
    margin-top: -3px;
    font-family: @font2;
    font-size: 12px;
    text-transform: uppercase;
  }
}

/* Logo */
.footer-logo-wrap {
  padding: 30px 0;
}


/*  ----------------------------------------------------------------------------
    Sub Footer
*/
// Menu
.td-subfooter-menu {
  position: relative;
  margin: 0;
  padding: 36px 0 13px 0;

  li {
    position: relative;
    display: inline-block;
    margin-left: 0;
    padding: 0 32px 0 27px;
    line-height: 18px;

    a {
      line-height: 18px;
      display: inline-block;
      font-family: @font2;
      font-size: 15px;
      font-weight: 500;
      text-transform: uppercase;
      color: #fff;
    }

    &.menu-item > a:hover,
    &.sfHover > a,
    &.current-menu-ancestor > a,
    &.current-category-ancestor > a,
    &.current-menu-item > a
    {
      color: @td_theme_color;
    }

    &:first-of-type {
      padding-left: 0;
    }

    &:last-of-type {
      padding-right: 0;

      a {
        margin-right: 0;
      }

      &:after {
        display: none;
      }
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 4px;
      width: 2px;
      height: 2px;
      background-color: #fff;
      .opacity(0.26);
    }
  }

  ul {
    display: none;
  }

  .fa {
    margin-right: 3px;
  }
}

.td-sub-footer-copy {
  padding-top: 14px;
  padding-bottom: 16px;
  font-size: 13px;
  color: #ccc;
}