.td-header-logo {
  position: relative;
  padding: 30px 0;

  /* responsive portrait tablet */
  @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
    padding: 16px 0;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    padding: 8px 0;
  }
}

/*  ----------------------------------------------------------------------------
    logo
*/
.td-header-sp-logo {
  position: relative;
  float: left;
  width: 22.85714285714286%;
  height: 90px;

  img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90px;
  }

  h1 {
    margin: 0;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    display: none;
  }
}

.td-main-menu-logo {
  display: none;
  float: left;
  margin-right: 10px;
  height: 40px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    display: block;
    margin-right: 0;
    height: 0;
  }

  a {
    line-height: 50px;
  }

  img {
    padding: 3px 0;
    position: relative;
    vertical-align: middle;
    max-height: 48px;

    @media (max-width: @responsive_p_phone_max) {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      margin: auto;
      padding: 0;
    }


    @media (max-width: @responsive_l_tablet_max) {
      max-height: 40px;
    }
  }
}

.td-visual-hidden {
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

// logo in header
// disable
.td-logo-in-header .td-sticky-disable {
  &.td-mobile-logo,
  &.td-header-logo {
    display: none;
  }
  &.td-mobile-logo {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: block;
    }
  }
}

// header logo
.td-logo-in-header .td-sticky-header {
  &.td-mobile-logo {
    display: none;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: inherit;
    }
  }

  &.td-header-logo {
    display: block;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }
  }
}

// mobile logo
.td-logo-in-header .td-sticky-mobile {
  &.td-mobile-logo {
    display: block;
  }

  &.td-header-logo {
    display: none;
  }
}

.td-affix .td-logo-in-menu .td-sticky-mobile {
  &.td-header-logo {
    display: none;
  }

  &.td-mobile-logo {
    display: block;
  }
}

// condition when no mobile logo
.td-affix .td-logo-in-menu .td-main-logo {
  display: none;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    display: block;
  }
}

/*  ----------------------------------------------------------------------------
    ad
*/
.td-header-sp-recs {
  position: relative;
  float: right;
  width: 74.28571428571429%;
  height: 90px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 100%;
    height: auto;
  }

  img,
  .adsbygoogle{
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      position: relative;
      top: 0;
      left: 0;
    }
  }
}