/*  ----------------------------------------------------------------------------
    Style 2
*/
.td-header-style-2 {
  /* desktop only */
  @media (min-width: @responsive_p_tablet_min) {
    .td-header-logo-wrap {
      padding: 19px 0;
    }
  }

  // ads
  .td-a-rec,
  .td-g-rec {
    margin-bottom: 19px;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 0;
    }
  }
  .td-header-sp-recs img,
  .td-header-sp-recs .adsbygoogle {
    position: relative;
  }
  .td-header-rec-wrap {
    min-height: 0;
  }

  .td-header-sp-logo,
  .td-header-sp-recs {
    width: 100%;
  }

  .td-header-main-menu {
    padding-right: 0;

    /* desktop only */
    @media (min-width: @responsive_p_tablet_min) {
      text-align: center;
    }
  }

  .sf-menu > li:last-child > a {
    padding-right: 0;
  }

  // fix search on affix
  .td-affix {
    .td-header-menu-search {
      right: 0;
    }
  }
  .td-header-menu-search {
    /* desktop only */
    @media (min-width: @responsive_p_tablet_min) {
      right: auto;
      display: inline-block;
    }
  }

  #td-header-search-button i {
    margin-left: 10px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin-left: 0;
    }
  }
}