.td-banner-wrap {
  position: relative;
  padding: 30px 0;
}

/*  ----------------------------------------------------------------------------
    logo
*/
.td-header-sp-logo {
  position: relative;
  float: left;
  width: 22.85714285714286%;
  height: 90px;

  img {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90px;
  }

  h1 {
    margin: 0;
  }
}

.td-visual-hidden {
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

/*  ----------------------------------------------------------------------------
    ad
*/
.td-header-sp-recs {
  position: relative;
  float: right;
  width: 74.28571428571429%;
  height: 90px;
}

.td-header-rec-wrap img {
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}