/* the search button */
.td-search-btns-wrap {
  #td-header-search-button,
  #td-header-search-button-mob {
    //display: block;
    //position: relative;
  }

  #td-header-search-button {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }
  }

  #td-header-search-button-mob {
    display: none;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: block;
    }
  }

  .td-icon-search {
    color: @td_theme_color;
  }
}

/* the search drop down */
.td-search-box-wrap {
  position: absolute;
  top: 100%;
  z-index: 999;
  right: 0;
  background-color: #fff;
  .box-shadow(inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25));
  border-top: 0;
  width: 340px;
}

.td-drop-down-search {
  display: none;
  font-family: @font1;
  color: #000;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 100%;
  }

  /* search form */
  #td-header-search {
    width: 100%;
    height: 31px;
    margin: 0;
    padding: 0 85px 0 11px;
    line-height: 17px;
    font-size: 13px;
    color: #666;
    border: 0;
    border-bottom: 1px solid #ebebeb;
    outline: none;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 91%;
      font-size: 16px;
    }
  }

  .btn {
    outline: none;
    position: absolute;
    background-color: #fff;
    height: 31px;
    min-width: 50px;
    line-height: 17px;
    padding: 7px 15px 8px;
    text-shadow: none;
    vertical-align: top;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    color: #000;
    right: 20px;
    margin: 0 !important;
    border: 1px solid #ebebeb;
    border-top: 0;
    border-right: 0;


    &:hover {
      background-color: transparent;
      color: @td_theme_color;
    }
  }

  /* hack to show the link on all the module */
  //.td_module_mx2 .entry-title {
  //  a:after {
  //    position: absolute;
  //    left: 0;
  //    width: 100%;
  //    top: 0;
  //    bottom: 0;
  //    content: '';
  //    z-index: 1; // is needed
  //  }
  //}

  //.td-post-category {
  //  z-index: 2;
  //  position: relative;
  //}

  /* this class is added by the js to open the menu - will be used for animation */
  &.td-drop-down-search-open {
    display: block;
  }

  .td-search-form {
    margin: 20px;
  }

  .result-msg {
    text-align: center;
    padding: 10px 0 12px 0;
    font-family: @font1;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;

    a {
      color: @td_theme_color;
      display: block;

      &:hover {
        color: #000;
      }
    }
  }

  .td-aj-search-results {
    background-color: #fff;
    padding: 20px 0;
    .box-shadow(inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25));

    .td-module-thumb,
    .item-details {
      display: inline-block;
    }

    .td-module-thumb {
      position: relative;
      margin-bottom: 0;
    }

    .td-admin-edit {
      position: absolute;
      display: none;
      top: 0;
      left: 0;
      padding: 3px 10px;
      background-color: rgba(0, 0, 0, 0.3);
      color: #fff;
      font-size: 13px;

      &:hover {
        background-color: #000;
      }
    }

    .item-details {
      vertical-align: top;
      margin-left: 18px;
      color: #000;
    }

    h3 {
      margin: -1px 0 6px 0;
      line-height: 16px;

      a {
        font-size: 12px;
        font-weight: 500;
        color: #000;

        &:hover {
          color: @td_theme_color;
        }
      }
    }
  }

  .td_module_mx2 {
    width: 100%;
    margin-bottom: 17px;
    padding: 0 20px;

    &:hover .td-admin-edit {
      display: block;
    }

    &:last-of-type {
      margin-bottom: -2px;
    }
  }

  .no-result {
    background-color: #fdfdfd;
    border-top: 1px solid #ededed;
    border-bottom: 1px solid #ededed;
  }

  .meta-info {
    line-height: 14px;
  }

  .td-aj-cur-element {
    background-color: #fff;
  }

  &:after {
    position: absolute;
    top: -3px;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    background-color: #000;
  }
}