/*  ----------------------------------------------------------------------------
    Style 2
*/
.td-header-style-2 {
  .td-header-sp-logo,
  .td-header-sp-recs {
    width: 100%;
    height: 108px;
  }

  .td-header-sp-recs {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      height: auto;
    }
  }

  .td-header-main-menu {
    padding-right: 0;
    text-align: center;

    .td-search-btns-wrap {
      right: auto;
      display: inline-block;
    }

    .td-icon-search {
      width: auto;
    }

    .td-search-box-wrap {
      left: 0;
      margin: 0 auto;
    }

    @media (max-width: @responsive_p_phone_max) {
      padding-right: 2px;
    }
  }

  .sf-menu ul {
    text-align: left;
  }

  .td-header-sp-recs {
    margin-top: -11px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-top: 0;
    }
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-header-main-menu {
      text-align: left;
    }

    .td-header-main-menu .td-search-btns-wrap {
      right: 2%;
    }
  }
}