/*  ----------------------------------------------------------------------------
    Style 2
*/
.td-header-style-2 {
  .td-header-sp-logo {
    width: 100%;
    height: 108px;
  }

  .td-header-main-menu {
    padding-right: 0;
    text-align: center;

    @media (max-width: @responsive_p_phone_max) {
      padding-right: 2px;
    }

    .td-search-btns-wrap {
      right: auto;
    }

    .td-icon-search {
      width: auto;
    }

    .td-search-box-wrap {
      right: auto;
      left: 50%;
      .transform(translateX(-50%));
    }
  }

  .sf-menu ul {
    text-align: left;
  }
}