.td-header-top-menu {
  position: relative;
  background-color: #1a1f2b;
  font: 12px @font2;
  color: #fff;

  a {
    color: #fff;
  }
}

/* left menu side */
.td-header-sp-top-menu {
  line-height: 35px;
  z-index: 1000;
  float: left;

  .td_ul_login {
    margin-right: 20px;
  }

  .td_ul_logout {
    margin-right: 40px;
  }
}

/*  ----------------------------------------------------------------------------
    top-menu data time
*/
.td_data_time {
  display: inline-block;
  margin-right: 36px;
}

/*  ----------------------------------------------------------------------------
    login & menu
*/
.menu-top-container {
  display: inline-block;
}

.top-header-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;

  li {
    display: inline-block;
    position: relative;
    margin-left: 0;
    line-height: 35px;

    a {
      margin-right: 16px;
      line-height: 1;
      text-decoration: none;

      &:hover {
        color: @td_theme_color;
      }
    }

    &:last-of-type a {
      margin-right: 0;
    }
  }

  .avatar {
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
    position: relative;
    top: -1px;
    border-radius: 100%;
  }

  .td-icon-menu-down {
    padding-left: 8px;
    font-size: 6px;
    position: relative;
    top: -2px;
  }

  .td-icon-logout {
    font-size: 10px;
    position: relative;
    top: 1px;
    margin-right: 2px;
  }

  .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: -20px;
    padding: 6px 0;
    min-width: 130px;
    background-color: #fff;
    .box-shadow(inset 0px 0px 1px 0px rgba(0, 0, 0, 0.25));
    z-index: 1000;

    li {
      width: 100%;
    }

    a {
      display: block;
      padding: 2px 20px;
      white-space: nowrap;
      line-height: 28px;
      color: #000;
    }
  }

  // current top menu
  .current-menu-item > a,
  .current-menu-ancestor > a,
  .current-category-ancestor > a {
    color: @td_theme_color;
  }

  ul .td-icon-menu-down,
  .td-mega-menu .td-icon-menu-down {
    display: none;
  }

  .td-mega-menu ul,
  ul ul {
    display: none !important;
  }
}

/*  ----------------------------------------------------------------------------
    search & social
*/
.td-header-sp-top-widget {
  float: right;
  position: relative;

  i {
    line-height: 35px;
    font-size: 13px;
    min-width: 38px;
  }

  .td-search-btns-wrap:before,
  .td-social-icon-wrap:first-of-type:before,
  .td-social-icon-wrap:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #fff;
    .opacity(0.07);
  }

  .td-search-btns-wrap:before,
  .td-social-icon-wrap:first-of-type:before {
    right: auto;
    left: 0;
  }

  .td-search-btns-wrap {
    float: left;

    &:hover .td-icon-search {
      .opacity(0.8);
    }
  }

  .td-social-icon-wrap {
    float: left;
    position: relative;

    & > a {
      display: inline-block;
    }
  }

  .td-drop-down-search:after {
    display: none;
  }
}