// IE 8 & 9
.ie8,
.ie9 {
  .td-menu-background,
  #td-mobile-nav {
    display: none;
  }

  .td-menu-mob-open-menu {
    .td-menu-background,
    #td-mobile-nav {
      display: block;
    }
  }
}


// IE 9 & 10 & 11
.ie9,
.ie10,
.ie11 {
  .td-post-category-wrap {
    bottom: -4px;
  }

  .td-post-sharing-bottom {
    .td-social-but-text {
      margin-top: -1px;
    }
  }

  .td-tags {
    a {
      padding-bottom: 1px;
      line-height: 19px;
    }
  }
}


// IE 10 & 11
.ie10,
.ie11 {
  .td_block_big_grid_2 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: -5px;
      }
    }
  }

  .td_block_big_grid_3 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: 31px;
      }
    }
  }
}


// Firefox
.td-md-is-firefox {
  .td-header-menu-search {
    #td-header-search-button {
      .td-icon-search:before {
        top: 1px;
      }
    }
  }

  .td-pulldown-filter-display-option {
    i {
      vertical-align: baseline;
    }
  }

  .td-post-category {
    padding-top: 3px;
    padding-bottom: 5px;
  }

  .td-post-category-small {
    .td-post-category {
      padding-top: 4px;
      padding-bottom: 4px;
    }
  }

  .td_block_big_grid_2 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: -3px;
      }
    }
  }

  .td_block_big_grid_3 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: 33px;
      }
    }
  }

  .td-post-sharing-top {
    .td-social-but-text {
      margin-top: -1px;
    }
  }
}


// Android
.td-md-is-android {
  .widget_categories {
    li {
      span {
        padding-top: 5px;
        padding-bottom: 3px;
      }
    }
  }

  .td-tags {
    a {
      padding-top: 2px;
      line-height: 18px;
    }
  }

  .td_block_big_grid_2 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: -4px;
      }
    }
  }

  .td_block_big_grid_3 {
    .td-big-grid-post {
      .td-post-category-wrap {
        bottom: 32px;
      }
    }
  }
}


// iOS
.td-md-is-ios {
  .td-social-but-text {
    margin-top: -1px;
  }

  .td-post-views {
    span {
      padding-top: 1px;
      padding-bottom: 3px;
    }
  }

  .td-author-header {
    .count {
      padding-top: 2px;
      padding-bottom: 3px;
    }
  }
}


// Windows phone
.td-md-is-iemobile {
  .td-post-views {
    span {
      padding-bottom: 1px;
    }
  }

  .td-tags {
    a {
      line-height: 18px;
    }
  }

  .td-author-header {
    .count {
      padding-bottom: 2px;
    }
  }
}