// Firefox
.td-md-is-firefox {
  .td-header-menu-search {
    #td-header-search-button {
      .td-icon-search:before {
        top: 1px;
      }
    }
  }

  .td-post-category {
    padding-top: 3px;
    padding-bottom: 5px;
  }

  .td-big-grid-post {
    .td-post-category-wrap {
      //bottom: -3px;
    }
  }

  .td-post-sharing-top {
    .td-social-but-text {
      margin-top: -1px;
    }
  }
}


// iOS
.td-md-is-ios {
  .td-social-but-text {
    margin-top: -1px;
  }

  .td-post-views {
    span {
      padding-top: 1px;
      padding-bottom: 3px;
    }
  }

  .td-author-header {
    .count {
      padding-top: 2px;
      padding-bottom: 3px;
    }
  }
}