/*
  General big grids
*/
.td-big-grids {
  margin-bottom: 50px;
}

.td-big-grid-post {
  position: relative;
  font-family: @font2;
  text-align: center;
  overflow: hidden;

  // stars
  .entry-review-stars {
    color: #fff;
    margin-top: -5px;
  }

  // meta info container
  .td-meta-info-container {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 100%;
  }

  .td-meta-align {
    pointer-events: none;
  }

  .td-post-category-wrap {
    z-index: 10;
    bottom: -5px;
  }

  .td-post-category {
    padding: 3px 6px;
  }

  .entry-title {
    margin: 0;
    padding: 0;

    &:after {
      display: none;
    }
  }

  .td-module-meta-info {
    min-height: 0;
    z-index: 1;
  }

  .entry-review-stars,
  .td-post-author-name,
  .td-post-date {
    margin: 0;
    padding: 0;
  }

  .entry-review-stars:after {
    display: none;
  }

  .td-big-grid-meta {
    z-index: 1;
    line-height: 1;
  }

  // module thumb
  .td-module-thumb {
    overflow: hidden;
    margin: 0;
  }

  // empty modules color
  .td-module-thumb {
    background-color: #e5e5e5;
  }

  // author name + date
  .td-post-author-name,
  .td-post-date {
    top: 0;
  }

  // video icon
  .td-video-play-ico img {
    z-index: 1;
  }
}


/*
  Big grid 1
*/
.td_block_big_grid_1 {
  // general
  .td-big-grid-post {
    float: left;
  }
  .td-big-grid-post-1 {
    margin-bottom: 10px;
  }
  .entry-title a,
  .td-meta-info-container {
    color: #fff;
  }
  .td-post-date {
    .opacity(0.8);
  }

  // big thumb
  .td-big-thumb {
    width: 65.30612244897959%; // 640px - 10px padding from 980px
    height: 400px;

    .td-meta-info-container {
      padding: 28px 5%;
    }
    .td-post-category {
      margin-bottom: 14px;
    }
    .entry-title {
      margin-bottom: 8px;
    }
  }

  // small thumb
  .td-small-thumb {
    width: 33.6734693877551%; // 330px
    height: 195px;
    float: right;

    .td-meta-info-container {
      padding: 18px 5%;
    }
    .td-post-category {
      margin-bottom: 10px;
    }
    .entry-title {
      margin-bottom: 6px;
    }
  }

  // overwrite big grids styles
  &.td-grid-style-1 {
    .td-post-category {
      color: #000;
      background-color: #fff;
    }

    // hover effect
    .td-big-grid-post:hover {
      .td-post-category {
        color: #fff;
      }
    }
  }
}



/*
  Big grid 2
*/
.td_block_big_grid_2 {
  margin-right: -10px;

  // general
  .td-big-grid-post {
    width: 33.33333333%;
    float: left;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      float: none;
      padding-top: 10px;
    }

    &:first-child {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding-top: 0;
      }
    }

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .td-module-image {
    margin-bottom: 15px;
  }

  .entry-review-stars {
    color: #000;
  }

  .td-module-thumb {
    height: 240px;
  }

  .td-meta-info-container {
    position: relative;
  }
}



/*
  Big grid 3
*/
.td_block_big_grid_3 {
  margin-right: -10px;
  margin-bottom: 44px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-right: -10px;
  }

  // general
  .td-big-grid-post {
    width: 50%;
    float: left;
    margin-bottom: 20px;
    overflow: visible;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      float: none;
    }

    &:first-child {
      .td-meta-info-container {
        left: auto;
        right: 0;
      }

      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding-bottom: 10px;

        .td-meta-info-container {
          right: 50%;
          .transform(translateX(50%));
        }
      }
    }
  }

  .entry-review-stars {
    color: #000;
  }

  .td-module-thumb {
    height: 360px;

    /* responsive landscape tablet */
    @media (min-width: @responsive_l_tablet_min) and (max-width: @responsive_l_tablet_max) {
      height: 320px;
    }
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      height: 300px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      height: 260px;
    }
  }

  .td-medium-thumb {
    padding-right: 10px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      padding-right: 0;
    }
  }

  .td-meta-info-container {
    bottom: -35px;
    background-color: #fff;
    width: 92.16494845360825%;
    padding-bottom: 19px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      bottom: 0;
      left: 50%;
      .transform(translateX(-50%));
    }
  }

  .td-big-grid-meta {
    padding: 16px 20px 10px 20px;
  }

  .td-post-category-wrap {
    top: -19px;
    bottom: auto;
  }
}