/*
  General big grids
*/
.td-big-grids {
  margin-bottom: 50px;
}

.td-big-grid-post {
  position: relative;
  font-family: @font2;
  text-align: center;
  overflow: hidden;

  // stars
  .entry-review-stars {
    color: #fff;
    margin-top: -5px;
  }

  // meta info container
  .td-meta-info-container {
    position: absolute;
    pointer-events: none;
    z-index: 1;
    width: 100%;
  }

  .td-meta-align {
    pointer-events: none;
  }

  .td-post-category-wrap {
    z-index: 10;
    bottom: -5px;
  }

  .td-post-category {
    padding: 3px 6px;
    pointer-events: auto;
  }

  .entry-title {
    margin: 0;
    padding: 0;

    &:after {
      display: none;
    }
  }

  .td-module-meta-info {
    min-height: 0;
    z-index: 1;
  }

  .entry-review-stars,
  .td-post-author-name,
  .td-post-date {
    margin: 0;
    padding: 0;
  }

  .entry-review-stars:after {
    display: none;
  }

  .td-big-grid-meta {
    z-index: 1;
    line-height: 1;
  }

  // module thumb
  .td-module-thumb {
    margin: 0;
    height: 100%;
    background-color: #f1f1f1;
  }

  // author name + date
  .td-post-author-name,
  .td-post-date {
    top: 0;
  }

  // video icon
  .td-video-play-ico img {
    z-index: 1;
  }
}


/*
  Big grid 1
*/
.td_block_big_grid_1 {
  // general
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-left: -10px;
    margin-right: -10px;
  }
  .td-big-grid-post {
    float: left;
  }
  .entry-title a,
  .td-meta-info-container {
    color: #fff;
  }
  .td-post-date {
    .opacity(0.8);
  }
  .td-module-meta-info {
    /* responsive portrait tablet */
    @media (max-width: @responsive_p_tablet_max) {
      display: none;
    }
  }
  // video icon
  .td-video-play-ico > img {
    top: 10px;
    right: 10px;
    bottom: auto;
    left: auto;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      width: 28px;
    }
  }
  // post count
  .td-posts-1 .td_module_mx_empty {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
        display: none;
    }
  }

  // big thumb
  .td-big-thumb {
    width: 66.3265306122449%; // 640px - 10px padding from 980px
    height: 400px;
    border-right: 10px solid transparent;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      height: 296px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      height: auto;
      border-right: none;
      border-bottom: 4px solid transparent;
    }

    .td-meta-info-container {
      padding: 28px 5%;
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        padding: 10px 5%;
      }
    }
    .td-post-category {
      margin-bottom: 14px;
    }
    .entry-title {
      margin-bottom: 8px;
    }
  }

  // small thumb
  .td-small-thumb {
    width: 33.6734693877551%; // 330px
    height: 195px;
    float: right;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      height: 143px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 50%;
      height: 130px;
      margin-bottom: 0;
    }
    /* responsive portrait phone */
    @media (max-width: 320px) {
      height: 104px;
    }

    .td-meta-info-container {
      padding: 18px 5%;
      /* responsive portrait tablet */
      @media (max-width: @responsive_p_tablet_max) {
        padding: 5px 5%;
      }
    }
    .td-post-category {
      margin-bottom: 10px;
    }
    .entry-title {
      margin-bottom: 6px;
    }
  }

  .td-big-grid-post-1 {
    margin-bottom: 10px;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 0;
      border-right: 2px solid transparent;
      float: left;
    }
  }
  .td-big-grid-post-2 {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      border-left: 2px solid transparent;
      float: none;
    }
  }

  // overwrite big grids styles
  &.td-grid-style-1 {
    .td-post-category {
      color: #000;
      background-color: #fff;
    }

    // hover effect
    @media (min-width: @responsive_l_tablet_min) {
      .td-big-grid-post:hover {
        .td-post-category {
          color: #fff;
        }
      }
    }
  }
}



/*
  Big grid 2
*/
.td_block_big_grid_2 {
  margin-left: -5px;
  margin-right: -5px;
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-left: -10px;
    margin-right: -10px;
  }

  // general
  .td-big-grid-post {
    width: 33.33333333%;
    padding: 0 5px;
    float: left;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      padding: 0;
      float: none;
      margin-bottom: 30px;
    }
  }
  .entry-review-stars {
    color: #000;
  }
  .td-meta-info-container {
    pointer-events: auto;
    position: relative;
  }
  .td-meta-align {
    pointer-events: auto;
  }
  .td-module-thumb {
    height: 236px;
    margin-bottom: 15px;

    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      height: 174px;
      margin-bottom: 8px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      height: auto;
      max-height: 360px;
      margin-bottom: 10px;
    }
  }
  .entry-title {
    margin-bottom: 11px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      margin-bottom: 5px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 0 10px 6px;
    }
  }

  .td-big-grid-post-2 {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 0;
    }
  }

  // empty module
  .td_module_mx_empty {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }
  }

  // post count
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-posts-1 .td-big-grid-post-0 {
      margin-bottom: 0;
    }
    .td-posts-2 .td-big-grid-post-1 {
      margin-bottom: 0;
    }
  }

  // overwrite big grids styles
  &.td-grid-style-1 {
    .entry-title {
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        font-size: 15px !important;
        line-height: 20px !important;
      }
    }
  }
}



/*
  Big grid 3
*/
.td_block_big_grid_3 {
  // general
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-left: -10px;
    margin-right: -10px;
  }
  .entry-review-stars {
    color: #000;
  }
  .td-module-image {
    margin-bottom: 0;
  }

  .td-big-grid-post {
    width: 50%;
    float: left;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
      float: none;
      border: none !important;
    }
  }

  .td-meta-info-container {
    position: relative;
    top: 100%;
    background-color: #fff;
    width: 92%;
    margin-top: -36px;
    pointer-events: auto;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-left: auto;
      margin-right: auto;
    }
  }
  .td-module-thumb {
    height: 360px;
    /* responsive portrait tablet */
    @media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
      height: 260px;
    }
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      height: 210px;
    }
  }

  .td-meta-align {
    pointer-events: auto;
  }

  .td-big-grid-meta {
    padding: 18px 20px 10px;

    /* responsive portrait tablet */
    @media (max-width: @responsive_p_tablet_max) {
      padding-top: 11px;
    }
  }

  .td-post-category-wrap {
    width: 92%;
    bottom: 31px;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      width: 100%;
    }
  }

  .td-video-play-ico img {
    top: 20px;
    bottom: auto;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      top: 10px;
      left: auto !important;
      right: 10px !important;
    }
  }

  // post 1
  .td-big-grid-post-0 {
    border-right: 5px solid transparent;
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin-bottom: 30px;
    }

    .td-meta-info-container {
      float: right;
      /* responsive portrait phone */
      @media (max-width: @responsive_p_phone_max) {
        float: none;
      }
    }
    .td-post-category-wrap {
      right: 0;
    }
    .td-video-play-ico img {
      left: 20px;
      right: auto;
    }
  }
  // post 2
  .td-big-grid-post-1 {
    border-left: 5px solid transparent;

    .td-video-play-ico img {
      right: 20px;
      left: auto;
    }
  }

  // empty module
  .td_module_mx_empty {
    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      display: none;
    }
  }

  // post count
  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    .td-posts-1 .td-big-grid-post-0 {
      margin-bottom: 0;
    }
    .td-posts-2 .td-big-grid-post-1 {
      margin-bottom: 0;
    }
  }

  // overwrite big grids styles
  &.td-grid-style-1 {
    .entry-title {
      font-size: 19px;
      line-height: 24px;

      /* responsive portrait tablet + phone */
      @media (max-width: @responsive_p_tablet_max) {
        font-size: 15px !important;
        line-height: 20px !important;
      }
    }
  }
}