/*
  MX 1 & MX 4 -small
*/
.td_module_mx1,
.td_module_mx4 {
  .entry-title {
    font-size: 15px;
    line-height: 20px;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 12px !important;
      line-height: 15px !important;
    }
  }
}


/*
  MX 3 -big
*/
.td_module_mx3 {
  .entry-title {
    font-size: 23px;
    line-height: 30px;
    /* responsive portrait tablet + phone */
    @media (max-width: @responsive_p_tablet_max) {
      font-size: 19px !important;
      line-height: 24px !important;
    }
  }
}