/*  ----------------------------------------------------------------------------
    Block Wrap
*/
.td_block_wrap {
  padding-bottom: 22px;
  position: relative;
  clear: both;
}

/*  ----------------------------------------------------------------------------
    Block Titles + Line
*/
.td-block-title-wrap {
  position: relative;
  margin-bottom: 20px;
  .clearfix();
}

.block-title {
  float: left;
  position: relative;
  padding: 8px 0;
  font-family: @font2;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1;
  margin: 0;

  a, span, label { /* label is for jetpack */
    display: inline-block;
  }

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    height: 1px;
    background-color: @td_theme_color;
    .opacity(0.3);
  }
}

// All blocks header with theme accent color
.block-title,
.td-related-title,
.wpb_tabs .wpb_tabs_nav,
.woocommerce div.product .woocommerce-tabs ul.tabs:before {
  border-color: @td_theme_color;
}
.td_block_wrap .td-subcat-item .td-cur-simple-item {
  color: @td_theme_color;
}


/*  ----------------------------------------------------------------------------
    Ajax Next Prev
*/
.td-next-prev-wrap {
  position: relative;
  text-align: center;
  clear: both;
  line-height: 1;
  margin-bottom: 22px;

  a {
    display: inline-block;
    vertical-align: middle;
    font-size: 9px;
    line-height: 20px;
    text-align: center;
    color: #000;

    &:hover {
      color: @td_theme_color;
    }
  }

  .ajax-page-disabled {
    opacity: 0.5;
  }

  .td-ajax-prev-page {
    padding-right: 19px;
  }

  .td-ajax-next-page {
    position: relative;
    padding-left: 21px;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      height: 100%;
      background-color: #000;
      .opacity(0.08)
    }
  }
}


/*  ----------------------------------------------------------------------------
    Load more button
*/
.td-load-more-wrap {
  text-align: center;
  clear: both;
  margin-bottom: 22px;
}

.td_ajax_load_more {
  display: inline-block;
  padding: 20px 38px 5px 38px;
  font-family: @font2;
  font-size: 13px;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  .box-shadow(inset 1px 1px 0 0 rgba(0,0,0,0.06));

  i {
    margin-top: 3px;
    position: relative;
    display: block;
    font-size: 0;

    &:after {
      content: '\e900';
      font-family: @font3;
      font-size: 9px;
      color: #bebebe;
    }
  }

  &:hover {
    color: @td_theme_color;
    text-decoration: none !important;
    .box-shadow(inset 1px 1px 0 0 rgba(0,0,0,0.09));
  }

  &.ajax-page-disabled {
    visibility: hidden !important;
  }
}

.td_block_inner_overflow {
  overflow: hidden;
}


/*  ----------------------------------------------------------------------------
    infinite loader
*/
.td-load-more-infinite-wrap {
  display: none;
}


/*  ----------------------------------------------------------------------------
    Block category filter
*/
/* control wrapper (default white) */
.td-wrapper-pulldown-filter {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  font-style: italic;
  font-size: 13px;
  color: #666;
  text-align: right;
  height: 30px;

  .td-pulldown-filter-display-option {
    display: inline-block;
    position: relative;
    right: 0;
    padding-left: 13px;
    cursor: pointer;
    white-space: nowrap;
    line-height: 30px;

    i {
      font-size: 12px;
      padding: 0 5px;
      vertical-align: middle;
      top: 1px;
      position: relative;

      &:before {
        content: "\e801";
      }
    }

    &:hover {
      color: @td_theme_color;

      ul {
        display: block;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 1px;
      height: 20px;
      background-color: #000;
      .opacity(0.08);
    }
  }

  .td-pulldown-filter-list {
    position: absolute;
    display: none;
    top: 100%;
    right: 0;
    padding: 11px 0;
    margin: -1px 0 0 0;
    min-width: 141px;
    background-color: rgba(255, 255, 255, 0.94);
    .box-shadow(inset 0 0 1px 0 rgba(0, 0, 0, 0.08));
    border-top: 1px solid @td_theme_color;
    z-index: 2;
  }

  .td-pulldown-filter-item {
     list-style: none;
    margin: 0;
   }

  .td-pulldown-filter-link,
  .td-pulldown-category-filter-link {
    line-height: 23px;
    color: #444;
    white-space: nowrap;
    display: block;
    padding: 0 20px;

    &:hover {
      color: @td_theme_color;
    }
  }
}

/*open the list (default white)*/
.td-pulldown-filter-list-open {
  .td-pulldown-filter-list {
    display: block;
  }
}

// filter siblings fix hide cats until all is loaded
.td-js-loaded .td-category-siblings {
  opacity: 1;
  .transition(opacity 0.3s);
}

// fix margin bottom overwritten by VC
.wpb_wrapper .td_block_wrap {
  .td-pulldown-filter-display-option {
    //margin: 0;
  }
}


/*  ----------------------------------------------------------------------------
    Quote on Blocks
*/
.td_quote_on_blocks {
  font-family: @font2;
  font-size: 30px;
  line-height: 35px;
  font-weight: 400;
  font-style: italic;
  text-align: left;
  text-transform: uppercase;
  color: @td_theme_color;
  margin-top: 10px;
}


/*  ----------------------------------------------------------------------------
    Block 1
*/
.td_block_1 {
  padding-bottom: 18px;


  .td-block-row:last-child .td_module_wrap,
  .td-column-1 .td_module_wrap:last-child {
    padding-bottom: 27px;
  }
}


/*  ----------------------------------------------------------------------------
    Block 5
*/
.td_block_5 {
  .td-block-row:last-child .td_module_wrap:before,
  .td-column-2 .td_module_wrap:last-child:before {
    display: none;
  }

  .td-column-3 {
    .td_module_5 {
      .td-module-thumb {
        width: 150px;
      }

      .td-item-details {
        margin-left: 170px;
        min-height: 133px;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    Block 6
*/
.td_block_6 {
  .td-block-row:last-child .td_module_wrap:before,
  .td-column-1 .td_module_wrap:last-child:before {
    display: none;
  }
}


/*  ----------------------------------------------------------------------------
    Block 7
*/
.td_block_7 {
  .td-column-3 {
    .td_module_4 {
      .entry-thumb {
        width: 100%;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    Block 8
*/
.td_block_8 {
  .td-column-2,
  .td-column-3 {
    .td_module_4 {
      margin-bottom: 30px;
      padding-bottom: 28px;

      &:before {
        content: '';
        width: 100%;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #000;
        opacity: 0.06;
      }
    }
  }

  .td-block-row:last-child .td_module_wrap:before,
  .td-column-2 .td_module_wrap:last-child:before {
    display: none;
  }

  .td-column-3 {
    .td_module_4 {
      .entry-thumb {
        width: 100%;
      }
    }

    .td_module_5 {
      .td-module-thumb {
        width: 150px;
      }

      .td-item-details {
        margin-left: 170px;
        min-height: 133px;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    Author block
*/
.td_author {
  padding-bottom: 38px;

  .block-title {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }

  .td_mod_wrap {
    font-family: @font2;
    text-align: center;
  }

  .avatar {
    margin-bottom: 7px;
    .border-radius(50%);
  }

  .td-author-name {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      .transform(translateX(-50%));
      background-color: @td_theme_color;
      width: 40px;
      height: 1px;
      .opacity(0.2);
    }
  }

  .td-author-description {
    padding: 2px 0 16px 0;
    font-family: @font1;
    font-size: 15px;
    line-height: 19px;
  }

  .td-author-page {
    font-family: @font1;
    font-size: 15px;
    font-style: italic;

    a {
      color: #000;

      &:hover {
        color: @td_theme_color;
      }
    }
  }
}


/*  ----------------------------------------------------------------------------
    Custom block
*/
.td_block_custom {
  .td-custom {
    position: relative;

    &:hover {
      .td-custom-image a {
        &:before,
        &:after {
          opacity: 0.4;
        }
      }
    }
  }

  .td-custom-image {
    a {
      display: inline-block;

      &:before {
        content: '';
        width: 100%;
        height: 100%;
        .opacity(0);
        position: absolute;
        top: 0;
        left: 0;
        background-color: #000;
        .transition(opacity 0.3s ease 0s);
      }

      &:after {
        content: '';
        width: 94%;
        height: 94%;
        border: 1px solid #fff;
        .opacity(0);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto;
        .transition(opacity 0.3s ease 0s);
      }
    }

    img {
      vertical-align: top;
    }
  }

  .td-custom-title {
    position: absolute;
    top: 50%;
    left: 50%;
    .transform(translate(-50%, -50%));
  }

  .entry-title {
    margin: 0;
    padding: 0;
    font-size: 19px;
    text-transform: uppercase;

    a {
      color: #fff;
    }

    &:after {
      display: none;
    }
  }
}