// error message that shows up when a requiered setting is missing from the block (weather widget / video playlist etc)
.td-block-missing-settings {
  font-size:11px;
  text-align: left;
  padding: 20px;
  background-color: #faf8fc;
  border: 1px solid #eeecf0;

  span {
    background-color: #fe6c61;
    color: white;
    font-weight: bold;
    padding: 3px 8px 4px 8px;
    border-radius: 4px;
    font-size: 10px;
    position: relative;
    top:-1px;
    margin-right: 10px;
  }
}