// general
.td-a-rec,
.td-g-rec{
  img,
  .adsbygoogle {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.td-visible-desktop {
  display: table;
}
.td-visible-tablet-landscape,
.td-visible-tablet-l, /* for N4 compatibility */
.td-visible-tablet-portrait,
.td-visible-tablet-tp,
.td-visible-phone {
  display: none;
}

/* responsive landscape landscape */
@media (min-width: @responsive_l_tablet_min) and (max-width: @responsive_l_tablet_max) {
  .td-visible-tablet-landscape,
  .td-visible-tablet-l {
    display: table;
  }
  .td-visible-desktop {
    display: none;
  }
  .td-visible-tablet-portrait,
  .td-visible-tablet-tp {
    display: none;
  }
  .td-visible-phone {
    display: none;
  }
}

/* responsive portrait tablet */
@media (min-width: @responsive_p_tablet_min) and (max-width: @responsive_p_tablet_max) {
  .td-visible-tablet-portrait,
  .td-visible-tablet-tp {
    display: table;
  }
  .td-visible-desktop {
    display: none;
  }
  .td-visible-tablet-landscape,
  .td-visible-tablet-l {
    display: none;
  }
  .td-visible-phone {
    display: none;
  }
}

/* responsive portrait phone */
@media (max-width: @responsive_p_phone_max) {
  .td-visible-phone {
    display: table;
  }
  .td-visible-desktop {
    display: none;
  }
  .td-visible-tablet-landscape,
  .td-visible-tablet-l {
    display: none;
  }
  .td-visible-tablet-portrait,
  .td-visible-tablet-tp {
    display: none;
  }
}


// header ad
.td-header-rec-wrap {
  position: relative;
  min-height: 90px;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    margin-left: auto;
    margin-right: auto;
    display: table;
    min-height: 0 !important;
  }
}

.td-header-sp-recs {
  position: relative;
  float: right;
  width: 74.28571428571429%;

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    width: 100%;
    height: auto;
  }

  img,
  .adsbygoogle {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      position: relative;
      top: 0;
      left: 0;
    }
  }

  .adsbygoogle {
    display: block !important;
  }
}


// article top & bottom ad
.td-g-rec-id-content_top,
.td-g-rec-id-content_bottom {
  clear: both;

  .adsbygoogle {
    margin-bottom: 21px;
    position: relative;
    left: 50%;
    .transform(translateX(-50%));
  }
}

.td-a-rec-id-content_top,
.td-a-rec-id-content_bottom {
  clear: both;
  text-align: center;

  > div {
    margin: 0 auto 21px auto;
  }

  img {
    margin-bottom: 0;
  }
}

// inline article ad
.td-a-rec-id-content_inline > div {
  margin: 0 auto 21px auto;
}

.td-g-rec-id-content_inline {
  .adsbygoogle {
    margin-bottom: 21px;
    position: relative;
    left: 50%;
    .transform(translateX(-50%));
  }
}

.td-g-rec-id-content_inlineleft,
.td-a-rec-id-content_inlineleft {
  float: left;

  .td-adspot-title {
    margin-right: 21px;

    @media (max-width: @responsive_p_phone_max) {
      margin: 0;
    }
  }

  > div,
  .adsbygoogle {
    margin-bottom: 15px;
    margin-top: 9px;
    margin-right: 21px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 0 auto 26px auto;
    }
  }

  img {
    margin-bottom: 0;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    float: none;
    text-align: center;
  }
}

.td-g-rec-id-content_inlineright,
.td-a-rec-id-content_inlineright {
  float: right;

  > div,
  .adsbygoogle {
    margin-bottom: 15px;
    margin-top: 6px;
    margin-left: 21px;

    /* responsive portrait phone */
    @media (max-width: @responsive_p_phone_max) {
      margin: 0 auto 26px auto;
    }
  }

  img {
    margin-bottom: 0;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    float: none;
    text-align: center;
  }
}


// sidebar ad
.td-a-rec-id-sidebar,
.td-g-rec-id-sidebar{
  margin-bottom: 38px;
  text-align: center;

  .td-adspot-title {
    display: block;
    position: relative;
    padding-bottom: 8px;
    text-align: left;
    font-family: @font2;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 20px;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80px;
      height: 1px;
      background-color: @td_theme_color;
      .opacity(0.3);
    }
  }
}

// footer ad
.td-footer-ad {
  background-color: #f3f3f3;
  .box-shadow(inset 0 20px 20px -20px rgba(0,0,0,0.28));

  .adsbygoogle {
    display: block !important;
  }
}
.td-a-rec-id-footer_top,
.td-g-rec-id-footer_top {
  display: table;
  margin: 0 auto;
  padding: 28px 10px 58px;
  text-align: center;

  .td-adspot-title {
    position: relative;
    display: inline-block;
    width: auto;
    margin-bottom: 5px;
    padding: 0 16px;
    font-size: 14px;
    font-style: italic;

    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      width: 93px;
      height: 1px;
      background-color: #d8d8d8;
    }

    &:before {
      left: 100%;
    }

    &:after {
      right: 100%;
    }
  }

  a {
    display: block;
    width: 100%;
  }

  @media (max-width: @responsive_p_phone_max) {
    padding-top: 16px;
    padding-bottom: 34px;
  }
}