.td_top_authors {
  padding-bottom: 38px;

  .block-title {
    float: none;
    margin-bottom: 20px;
    width: 100%;
  }

  .td_mod_wrap {
    font-family: @font2;
    text-align: center;
  }

  .avatar {
    margin-bottom: 7px;
    .border-radius(50%);
  }

  .td-authors-name {
    position: relative;
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      .transform(translateX(-50%));
      background-color: @td_theme_color;
      width: 40px;
      height: 1px;
      .opacity(0.2);
    }
  }

  .td-authors-link {
    font-family: @font1;
    font-size: 15px;
    font-style: italic;

    a {
      color: #000;

      &:hover {
        color: @td_theme_color;
      }
    }
  }
}