/*  ----------------------------------------------------------------------------
    Modules
*/
.td_module_wrap {
  position: relative;
  padding-bottom: 46px;

  .td-module-title {
    position: relative;
    margin: 0 0 6px 0;
    padding-bottom: 11px;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40px;
      height: 1px;
      background-color: @td_theme_color;
      .opacity(0.2);
    }
  }

  &:hover .entry-title a {
    color: @td_theme_color;
  }
}

/*  ----------------------------------------------------------------------------
    thumbnail
*/
.td-module-image {
  margin-bottom: 13px;
}

.td-module-thumb {
  position: relative;

  .entry-thumb {
    display: block;
  }
}
.td-module-image {
  position: relative;
}

.td-video-play-ico > img {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

.td-module-image-abs {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
}

/*  ----------------------------------------------------------------------------
    admin edit
*/
.td-admin-edit {
  position: absolute;
  display: none;
  top: 0;
  left: 0;
  padding: 3px 10px;
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  line-height: 20px;
  .transition(background-color @td_transition_time);

  &:hover {
    background-color: #000;
  }
}

.td-module-thumb:hover .td-admin-edit {
  display: block;
}

/*  ----------------------------------------------------------------------------
    category on modules
*/
.td-post-category-wrap {
  position: absolute;
  bottom: -3px;
  width: 100%;
  text-align: center;
}
.td-post-category {
  font-family: @font2;
  padding: 4px 6px;
  background-color: rgba(0, 0, 0, 0.8);
  font-size: 10px;
  font-weight: 500;
  line-height: 1;
  color: #fff;

  &:hover {
    background-color: @td_theme_color;
  }
}

/*  ----------------------------------------------------------------------------
    metainfo
*/
.td-module-meta-info {
  font-family: @font2;
  font-size: 12px;
}

.td-module-meta-info-no-comm {
  .td-post-date {
    margin-right: 0;
    padding-right: 0;

    &:after {
      display: none;
    }
  }
}

.td-post-date,
.td-module-comments {
  display: inline-block;
}

.td-post-date {
  position: relative;
  margin-right: 8px;
  padding-right: 11px;
  color: #b2b2b2;

  &:after {
    content: '';
    position: absolute;
    bottom: 8px;
    right: 0;
    width: 1px;
    height: 1px;
    background-color: #bebebe;
  }
}

.td-module-comments {
  a {
    color: #666;

    i {
      vertical-align: middle;
      margin-top: -2px;
      font-size: 14px;
    }

    &:hover {
      color: @td_theme_color;
    }
  }

  .td-icon-comments {
    margin-right: 6px;
  }
}

/*  ----------------------------------------------------------------------------
    excerpt
*/
.td-excerpt {
  padding-top: 14px;
  font-size: 15px;
  font-style: italic;
  line-height: 19px;
  color: #808080;
}