/*  ----------------------------------------------------------------------------
    Module 5
*/
.td_module_5 {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #f2f2f2;

  &:nth-last-child(2) {
    border: 0;
  }

  .td-module-info-panel {
    margin-left: 280px;
    min-height: 184px;
  }

  .td-post-category {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 7px;
  }

  .td-module-title {
    margin-bottom: 7px;
    padding-bottom: 10px;
    font-size: 19px;
    line-height: 24px;
  }
}