/*  ----------------------------------------------------------------------------
    Module 3
*/
.td_module_3 {
  padding-bottom: 31px;

  .td-item-details {
    margin-left: 119px;
    padding-top: 1px;
    min-height: 70px;
  }

  .td-module-title {
    padding-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin-bottom: 7px;

    &:after {
      display: none;
    }
  }

  .entry-review-stars {
    vertical-align: middle;
  }
}