/*  ----------------------------------------------------------------------------
    Module 4
*/
.td_module_4 {
  padding-bottom: 47px;

  .td-module-image {
    margin-bottom: 17px;
  }

  .td-module-title {
    margin-bottom: 16px;
    padding-bottom: 15px;
    font-size: 21px;
    line-height: 26px;
  }

  /* responsive portrait phone */
  @media (max-width: @responsive_p_phone_max) {
    padding-bottom: 37px;
  }
}

// loop with Module 4
.td-module-number4 {
  // no sidebar
  &.td-module-no-sidebar {
    margin: 0 -15px;

    .td_module_wrap {
      width: 50%;
      padding-left: 15px;
      padding-right: 15px;
      float: left;
    }
  }
}