/*  ----------------------------------------------------------------------------
    Module 3
*/
.td_module_3 {
  padding-bottom: 30px;

  .td-module-image,
  .td-module-info-panel {
    display: inline-block;
    vertical-align: top;
  }

  .td-module-image {
    margin-bottom: 0;
  }

  .td-module-info-panel {
    margin-left: 16px;
  }

  .td-module-title {
    padding-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;

    &:after {
      display: none;
    }
  }

  .td-post-category {
    margin-right: 1px;
  }

  .td-post-date {
    margin-right: 0;
    padding-right: 0;

    &:after {
      display: none;
    }
  }
}